<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title><%=title%></title>
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1, maximum-scale=1">
    <meta name="format-detection" content="telephone=no">
<!--link rel="shortcut icon" href="<%=config.CONTEXT_PATH%>/favicon.ico" />
    <link rel="apple-touch-icon-precomposed" href="<%=config.CONTEXT_PATH%>/apple-touch-icon-precomposed.png"-->
    <link rel="stylesheet" href="<%=config.CONTEXT_PATH%>/css/main.css">
    <script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?sensor=true"></script>
</head>
<body id="app">
    <div class="logo">
        <img src="<%=config.CONTEXT_PATH%>/img/logo.jpg">
    </div>
    <div class="menus">
        <div class="menu">
            <a href="javascript:;">ソート</a>
            <select style="display: none;">
                <option>求人件数順</option>
                <option>社員数順</option>
            </select>
        </div>
        <div class="menu">
            <a href="javascript:;">カテゴリ</a>
        </div>
        <div class="menu">
            <a href="javascript:;">エリア</a>
            <select style="display: none;">
                <option>渋谷</option>
                <option>新宿</option>
                <option>六本木</option>
            </select>
        </div>
    </div>
    <vue-map v-with="initPos: initPos, items: items"></vue-map>
    <!-- components -->
    <vue-popup v-show="popupOpened" v-transition="expand" title="{{selectedItem.name}}" v-with="loading: loading">
        <vue-popup-content v-with="selectedItem"></vue-popup-content>
    </vue-popup>
    <!--/ components -->

    <!-- script -->
    <script type="text/javascript">
        var data = <%= data %>;
    </script>
    <script src="<%=config.CONTEXT_PATH%>/dist/main.js"></script>
    <!--/ script -->
</body>
</html>
