body {
    width: 100%;
    margin: 0;
    padding: 0;
}

/* layout */
.container {
    width: 100%;
    /*height: 100%;*/
    -webkit-flex: 1 0 auto;
    -moz-flex: 1 0 auto;
    -ms-flex: 1 0 auto;
    flex: 1 0 auto;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: flex;
    -webkit-flex-direction: row;
    -moz-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
}

nav {
    width: 260px;
    -webkit-flex: 0 0 260px;
    -moz-flex: 0 0 260px;
    -ms-flex: 0 0 260px;
    flex: 0 0 260px;
}

article {
    width: 100%;
    height: 100%;
    -webkit-flex: 1;
    -moz-flex: 1;
    -ms-flex: 1;
    flex: 1;
}

footer {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100px;
}

/* vue component animation */
vue-popup {
    position: absolute;
    top: 100px;
    left: 100px;
    transition: all 0.8s ease;
    max-height: 442px;
    overflow: hidden;
    display: block;
}

vue-popup.expand-enter, vue-popup.expand-leave {
    max-height: 0;
    opacity: 0;
}

/* overlay */
.overlay {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    background: #000;
    opacity: 0.6;
    filter: alpha(opacity=60);
}

.overlay .loading {
    width: 64px;
    height: 64px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -32px 0 0 -32px;
}

/* mobile */
@media (max-width: 768px) {
    vue-popup {
        left: 20px;
        top: 40px;
    }
}