.component__map-view
  .customMarker
    trans_bounce(.4s)
    cursor pointer
    &:hover
      transform scale(1.4)
    
    &.selected
      transform scale(1.2)
      z-index 10000

.component__popup
  .close
    @extend .button-close