/*
    Colors
*/

// Background Colors
$background_basic = #fefff7
$background_navigation-bar = #fff
$background_page-header = #e7f5f5
$background_heading-normal = #adac9f
$background_attention = #ef5350

// Button Colors
$color_label = #04afe1
$color_button_submit = #00aee0


// State Colors
$success = #06cd9c
$error = #e94f81
$attention = #ef5350

// Font Colors
$font_basic = #343434
$font_page-title = #8b8b8b
$font-num-blue = #14b5e2
$font-attention-red = #ef5350
$font-sub-header = #5c6b6e

// border colors
$border_basic = #d7e1e2
$border_navigation-bar = #9ce0e8
$border_admin_basic = #c5d1d9
$border_admin_separate = #e2e5e6
$border_form_basic = #00aee0

// gunosy colors
$catch-color = #00C5E5
$catchcopy-pink = #ff0078
$gunosy-lightblue-1 = #00a7e5 
$gunosy-lightblue-1-opacity = rgba(0,167,229,.95)
$share-box-color = #e7f4f8
$category-navigation = #dde7f0

// Social Colors
$twitter_1 = #55acee
$facebook_1 = #3b5998
$line_1 = #00c402
$email_1 = #7ac943
$login_1 = #00c5e5

// Balloon Colors
$client-color = #06c2e4//#2fc3d9
$user-color = #5b514f
$user-color-deactive = #dde4e5
$user-color-deactive-font = #bbc2c3

// Tag Colors
$tag-1 = #00aee0
$tag-2 = #fa7054
$tag-3 = #8fc31f
$tag-4 = #d1c0a5



  